<!DOCTYPE html>
<html>
  <head>
    <title>SUCESSO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem Vindo <%= usuario %></h1>
      <a href="/login">Clique aqui para deslogar</a>
  </body>
</html>
