body{
    background-color: #8083c9;
    font-family: monospace;
}

form{
    text-align: center;
    margin: auto;
    max-width: 20rem;
    background-color: white;
    padding: 1rem;
    border: 2px solid slateblue;
}

form p{
    color: rgb(38, 28, 105);
    text-transform: uppercase;
}

input[type=text]{
    width: 100%;
    border: 0px solid;
    border-bottom: 1px solid lightgray;
}

button{
    background-color: slateblue;
    border: 0;
    color: white;
    padding: 1rem;
}