<!DOCTYPE html>
<html>
  <head>
    <title>XDDDDDDDDDD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>XDDDDDD</h1>
    <p><%= title.length %></p>
  </body>
</html>
